<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Online auction</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navb" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#!lotsView">Show all lots</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!signIn">Sign-in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!lotCreate" ng-hide="!logged">Create new lot</a>
            </li>
            <li class="nav-item">
                <div class="nav-link" ng-hide="!logged" ng-click="logout()">Log out</div>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-hide="!manager" href="#!manager">Manager menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-hide="!admin" href="#!admin">Admin menu</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container my-5">
    <form>
        <div ng-hide="!showWarningMessage" class="alert alert-danger" role="alert">
            <h6>{{warningMessage}}</h6>
        </div>
        <div>
            <label class="col-2 formfields">Name:</label>
            <div class="col-10">
                <input type="text" class="form-control formfields" ng-model="name" placeholder="Name">
            </div>
        </div>
        <div>
            <label class="col-sm-2 formfields">Specification:</label>
            <div class="col-10">
                <input type="text" class="form-control formfields" ng-model="specification" placeholder="Specification">
            </div>
        </div>
        <div>
            <label class="col-2 formfields">Bet:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control formfields" ng-model="bet" placeholder="Bet">
            </div>
        </div>
        <div>
            <label for="pass" class="col-2 formfields">Step:</label>
            <div class="col-10">
                <input type="password" class="form-control formfields" ng-model="step" placeholder="Step">
            </div>
        </div>
        <div>
            <label class="col-2 formfields">Category:</label>
            <div class="col-10">
                <select ng-mousedown="lookSubc()" ng-change="findSubcstegories()" class="form-control" ng-model="selectedCategory">
                    <option ng-repeat="category in categories"> {{ category.Name }}</option>
                </select>
            </div>
        </div>
        <div>
            <label class="col-2 formfields">Subcategory:</label>
            <div class="col-10">
                <select class="form-control" ng-model="selectedSubcategory">
                    <option ng-repeat="subcategory in subcategories"> {{ subcategory.Name }}</option>
                </select>
            </div>
        </div>
        <div>
            <label class="col-2 formfields">Duration:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control formfields" ng-model="duration" placeholder="Duration (amount of days)">
            </div>
        </div>
        <div class="row">
            <div class="col-8"></div>
            <div class="container formfields col-3">
                <button type="submit" class="btn btn-success" ng-click="create()">Submit</button>
            </div>
        </div>
    </form>
</div>