<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Online auction</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navb" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#!lotsView">Show all lots</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!signIn">Sign-in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!lotCreate" ng-hide="!logged">Create new lot</a>
            </li>
            <li class="nav-item">
                <div class="nav-link" ng-hide="!logged" ng-click="logout()">Log out</div>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-hide="!manager" href="#!manager">Manager menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-hide="!admin" href="#!admin">Admin menu</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container my-5">
    <form>
        <div ng-hide="!showWarningMessage" class="alert alert-danger" role="alert">
            <h6>{{warningMessage}}</h6>
        </div>
        <div class="row">
            <div class="col-6">
                <div>
                    <label class="col-2 formfields">Name:</label>
                    <div class="col-10">
                        <input type="text" class="form-control formfields" ng-model="name" placeholder="Name">
                    </div>
                </div>
                <div>
                    <label class="col-sm-2 formfields">Surname:</label>
                    <div class="col-10">
                        <input type="text" class="form-control formfields" ng-model="surname" placeholder="Surname">
                    </div>
                </div>
                <div>
                    <label class="col-2 formfields">Patrinymic:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control formfields" ng-model="patronymic" placeholder="Patrinymic">
                    </div>
                </div>
                <div>
                    <label class="col-4 formfields">Phone number:</label>
                    <div class="row col-10">
                        <h4 class="col-2">+380</h4>
                        <input type="text" class="col-9 form-control formfields" ng-model="phone" placeholder="Phone number" style="margin-left: 20px;">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <label class="col-2 formfields">Passport:</label>
                    <div class="col-10">
                        <input type="text" class="form-control formfields" ng-model="passport" placeholder="Passport">
                    </div>
                </div>
                <div>
                    <label class="col-2 formfields">Login:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control formfields" ng-model="login" placeholder="Login">
                    </div>
                </div>
                <div>
                    <label for="pass" class="col-2 formfields">Password:</label>
                    <div class="col-10">
                        <input type="password" class="form-control formfields" ng-model="password" placeholder="Password">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8"></div>
            <div class="container formfields col-4">
                <button type="submit" class="btn btn-success" ng-click="registerin()">Submit</button>
            </div>
        </div>
    </form>
</div>